@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Roboto, 'Times New Roman', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 128px;
    background-color: #1F2937;
    color: white;
}

.header-left {
    font-size: 28px;
    font-weight: 900;
}

.links {
    display: flex;
    gap: 16px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 128px;
    background-color: #1F2937;
    color: white;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 12px;
}

.hero-description {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 24px;
}

.hero-button > button {
    padding: 12px 28px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    color: white;
    background-color: #3882F6;
}

.hero-image {
    width: 600px;
    height: 200px;
    border: 1px solid black;
}

.information {
    display: flex;
    flex: 1;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}